* {
    padding: 0;
    margin: 0;
}
#div-canvas {
    height: 700px;
    width: 700px;
    display: grid;
    border-style: solid;
    border-width: 2px;
    margin: auto;
    flex-shrink: 0;
}
body {
    /*please for the love of god change this to grid. 
    it will make your life easier i think.*/
    display: flex;
    justify-content: space-between;
}
#ui {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sketch-div {
    background-color: white;
}
#color-picker {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    flex-wrap: wrap;
}
.color-selection {
    margin: 1px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 40px;
}